{% extends "soluciones_tecnologicas/base.html" %}
{% load static %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    ACTIVE DIRECTORY
{% endblock %}

{% block soluciones_text %}

<div class="columna_l">
<p class="bold">¿Está alineado el esquema organizacional de su empresa  respecto a las políticas y privilegios de Tecnologías de Información (IT por sus siglas en inglés)?</p>
<p>En Compuproveedores le ofrecemos un medio para organizar, administrar y controlar de forma centralizada el acceso de los usuarios y aplicaciones a los recursos existentes en su red.</p>

<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Incrementa la productividad de los usuarios mediante la creación de perfiles y privilegios en base a su Organigrama Empresarial.</li>
    <li>Proporciona control, flexibilidad, disponibilidad, seguridad y confiabilidad en su infraestructura de operaciones e información.</li>
    <li>Plataforma de integración con diversas aplicaciones, soluciones flexibles y sistemas conectados.</li>
    <li>Experiencias valiosas para administración de usuarios y equipos, mejoras fundamentales en el rendimiento de sus recursos de IT. </li>
</ul>

<div style="height:10px;"></div>
<div style="text-align:right;" class="demo">Contamos con Demo.</div>
</div>

<div class="columna_r">
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
