{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    AULAS INTERACTIVAS
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:300px;">
    <p class="bold">¿Le gustaría contar con tecnología en sus aulas y aprovechar los contenidos digitales?</p>

    <p>Compuproveedores puede ayudarle a crear un aula interactiva; que es un Centro de Tecnología Educativa el cual pretende transformar el proceso de aprendizaje con la más avanzada tecnología en enseñanza y equipos didácticos.

    Le ofrecemos esta solución en dos modalidades:
    Diseño de aulas Interactivas como proyecto. 
    Conversión de salones de cómputo ya existentes en
    aulas interactivas.
    </p>

    <p class="beneficios">Beneficios:</p>
            
    <ul>
        <li>Los estudiantes muestran mayor motivación y se alienta a su participación en clase.</li>
        <li>Permite a los profesores, expositores, conferencistas utilizar los recursos multimedia y de Internet creando mayor interés entre los asistentes.</li>
        <li>Integración con librerías de Microsoft Office.</li>
    </ul>
    <div style="height:10px;"></div>
    <div style="text-align:right;" class="demo">Contamos con Demo.</div>
</div>

<div class="columna_r" style="width:290px;">
    <ul>
        <li>Estructuras muy sencillas desde un pizarrón táctil, un proyector y una computadora, hasta las estructuras más completas a precios accesibles, como un aula de medios, que le permite realizar video conferencias, evaluaciones en tiempo real y educación a distancia.</li>
    
    <li>Nos permite guardar, compartir e imprimir imágenes al momento de la exposición.</li>
    <li>Manejo de contenidos de manera dinámica y controlada.</li>
    
    </ul>

    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>
</div>

{% endblock %}
