{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    DYNAMIC PRINT ROUTING
{% endblock %}

{% block soluciones_text %}

<div class="columna_l">
<p class="bold">¿Le interesa la confidencialidad de sus documentos al imprimir y al mismo tiempo apoyar  la ecología?</p>

<p>
Le recomendamos usar una herramienta de software que sirve para hacer “Job Retention” y “Pull Printing” de trabajos de impresión. 

<p>Proporciona confidencialidad en cada una de las impresiones que el usuario realiza, ya que éstas son retenidas y no se imprimen hasta que el mismo usuario se autentifica y realiza el “Pull Printing”. </p>


<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Autentificación por usuario.</li>
    <li>Confidencialidad de impresiones.</li>
    <li>Reducción de costos de impresión.</li>
    <li>Evitar impresiones olvidadas y duplicadas por el usuario.</li>
    <li>Retención de impresiones.</li>
    <li>Pull Printing directamente en el multifuncional, desde una página Web o con un dispositivo móvil.</li>
</ul>
<div style="text-align:right;" class="demo">Contamos con Demo.</div>
</div>

<div class="columna_r">
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
