{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    HP’ S BUSINESS <br/> TECHNOLOGY OPTIMIZATION (BTO)
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:310px;">
<p class="bold">¿Desea un estándar mundial de facto en la Gestión de Servicios Informáticos?</p>
<p>La propuesta de valor BTO cuenta con un conjunto de soluciones y servicios que se han diseñado específicamente para identificar problemas en las diferentes áreas de los departamentos de IT, la estrategia, las aplicaciones, las operaciones y la seguridad.</p>

<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Medición de servicios informáticos.</li>
    <li>Optimiza la infraestructura y automatiza la entrega de los servicios de IT con software basado en ITIL v3.</li>
    <li>Reduce el time to market para ofrecer una ventaja competitiva en el mercado.</li>
    <li>Manejo de calidad de las aplicaciones criticas (soluciones para mitigar el riesgo).</li>
    <li>Gobernabilidad (administración de activos).</li>
    <li>Gestión de la cadena de valor (automatización y mesa de ayuda).</li>
</ul>
</div>

<div class="columna_r">

    <ul>
    <li>Administración de Infraestructura.</li>
    <li>Disminuye costos de IT e incrementa su valor.</li>    
</ul>

    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
