{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    HP DATA PROTECTOR <br />SOFTWARE PARA PC’S.
{% endblock %}

{% block soluciones_text %}

<div class="columna_l">
<p class="bold">¿Sus usuarios han perdido datos de sus lap tops o desktops?</p>
<p class="bold">¿Le ha sido imposible recuperar alguna información de sus usuarios finales?</p>

<p>Entendemos que su información es valiosa y por ende le ofrecemos esta solución que proporciona una copia de seguridad continua y transparente de la información almacenada en los equipos portátiles y de escritorio de una organización, estén o no conectados a la red. </p>

</p>

<p class="beneficios">Beneficios:</p>
<ul>
    <li>Reduce el riesgo asociado con la perdida de datos y protección de PC.</li>
    <li>Reduce el tiempo necesario para administrar respaldos y recuperación por medio de autorización al usuario final.</li>
    <li>Calendarización de respaldos y protección aun fuera de la red.</li>
    <li>Administración centralizada de políticas de respaldos sin riesgo de olvido por parte de un usuario.</li>
    <li>Muestra diversas versiones de sus archivos mediante la consola de recuperación de usuario.</li>
</ul>
<div style="text-align:right;" class="demo">Contamos con Demo.</div>
</div>

<div class="columna_r">
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
