{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    HP WEB JETADMIN
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:316px;">
<p class="bold">¿Le gustaría saber quien imprime y cuanto imprime?</p>
<p class="bold">¿Le hace sentido que le alerten antes de que se termine un consumible o pase un fallo en equipos de impresión?</p>

<p>
La plataforma HP Web Jetadmin es la solución basada en la Web que lo ayudará a administrar y optimizar el uso de los dispositivos de impresión en red de HP, controlar los costos de impresión a color y mejorar la administración de consumibles; así como impresoras, multifuncionales, escáneres y dispositivos de envío digital. 
</p>

<p class="beneficios">Beneficios:</p>
<ul>
    <li>Administrar la red de impresión.</li>
    <li>Minimizar tiempos de respuesta en soporte técnico y pro actividad en la sustitución de consumibles.</li>
    <li>Administración centralizada.</li>
    <li>Simplificar los procesos de administración.</li>
    <li>Otorga visibilidad de lo que imprimen los usuarios.</li>
    <li>Maximizar productividad.</li>
</ul>
<div style="text-align:right;" class="demo">Contamos con Demo.</div>
</div>

<div class="columna_r" style="width:274px;">
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
