{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    INTELLIGENT PRINT<br/> MANAGEMENT
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:310px">
<p class="bold">¿Le gustaría establecer reglas de  impresión, tales como: restricción de color, tipo de archivo o cantidad de hojas?</p>

<p>IPM es un producto de solución que le permite poner en práctica planes reales de acción para cumplir con sus iniciativas empresariales, implementando reglas de impresión y administrando privilegios de usuarios alineados a las políticas de su negocio.</p>

<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Administración total de las impresiones de los usuarios.</li>
    <li>Reducir sus costos de impresión.</li>
    <li>Cancelación de impresiones no autorizadas.</li>
    <li>Impresión dúplex como predeterminada.</li>
    <li>Impresión en Economode y/o monocromático.</li>
    <li>Estampado (Nombre de usuario, fecha y hora de impresión).</li>
</ul>
<div style="text-align:right;" class="demo">Contamos con Demo.</div>
</div>

<div class="columna_r">
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
