{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    MEGATRACK
{% endblock %}

{% block soluciones_text %}

<div class="columna_l">
<p class="bold">¿Le gustaría asignar cuotas de impresión?</p>
<p class="bold">¿Obtener hasta 300 reportes que le permitan tener el control total de las impresiones de la organización?</p>

</p>Compuproveedores le ofrece una solución de software basado en Windows que permite realizar un seguimiento detallado de la impresora y la información de uso de consumibles de impresora, usuario, proyecto, departamento o centro de costos. 
</p>
<div style="height:10px;"></div>
<p class="beneficios">Beneficios:</p>
        
    <ul>
        <li>Informes automatizados. </li>
        <li>Información detallada de costos y de datos. </li>
        <li>Asignación de costos de impresión. </li>
        <li>Límites de impresión de páginas por usuario.</li>
        <li>Autenticación PIN copia, fax y escaneo. </li>
    </ul>

</div>

<div class="columna_r">
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
