{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    NETWORKING
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:300px;">
<p class="bold">¿Le gustaría monitorear y automatizar su red?</p>
<p class="bold">¿Está segura su red?</p>
<p class="bold">¿Le gustaría contar con equipos que cumplan con los estándares del mercado?</p>

<p>Le ofrecemos Tecnología basada en estándares abiertos basados en HP Networking que elimina las plataformas redundantes, con diseños de red más simples, unifica redes inalámbricas y cableadas y crea una infraestructura segura y un entorno propicio de intercambio de información. Productos tales como ProCurve, 3Com, H3C y TippingPoint amplían las capacidades de red de HP y acelera la adopción de la infraestructura convergente.</p>

<p class="beneficios">Beneficios:</p>

<ul>
    <li>Soluciones empresariales integradas.</li>
    <li>Infraestructura convergente.</li>
    <li>Seguridad y comunicaciones unificadas.</li>
    <li>Gestión de software de red.</li>
    <li>Campus, centro de datos, movilidad.</li>
</ul>
</div>

<div class="columna_r">
<div style="height:10px"></div>
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
