{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    OFFICE 365
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:362px;">
<p class="bold">¿Un office en cualquier lugar lo haría más productivo?</p>
<p class="bold">¿Desea obtener las soluciones de comunicación y colaboración de nueva generación?</p>

<p>En Compuproveedores podrá encontrar Microsoft Office que le ofrece las herramientas web que permiten acceso a correo electrónico y calendario, Office Web Apps, sitios web y colaboración, mensajería instantánea y conferencias en línea; desde casi cualquier lugar y con cualquier dispositivo; todo esto proporcionado en la nube. Office 365 ofrece planes diseñados para adaptarse a las necesidades únicas de su organización.</p>

<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Los usuarios disfrutan de todas las ventajas de productividad de Microsoft Office junto con la eficacia de los servicios en la nube.</li>
    <li>Acceso prácticamente desde cualquier lugar.</li>
    <li>Office 365 funciona a la perfección con Microsoft Office y el resto los programas que ya utilizan sus empleados.</li>
    <li>Es compatible con todo tipo de computadoras y plataformas (MACs, PCs, Tablets, Smartphone).</li>
</ul>

</div>

<div class="columna_r" style="width:230px">
    <ul>
        
        <li>Mayor control y eficacia de IT.</li>
        <li>Seguridad y fiabilidad de primera clase.</li>
        <li>Una consola fácil de usar le permite tener el control de todas las 
            funciones, la configuración e implementación en toda la organización.
        </li>
        
    </ul>
    <div style="text-align:right;" class="demo">Contamos con Demo.</div>
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png" height="150">
    </div>
</div>

{% endblock %}
