{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    SERVIDORES
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:330px;">
<p class="bold">¿Necesita poder de cómputo?</p>
<p class="bold">¿Desea economizar en energía?</p>
<p class="bold">¿Se imagina consolidar servidores 20 a 1?</p>

<p>Le ofrecemos instalación y configuración de Servidores en su empresa de acuerdo a sus necesidades; esto le puede solucionar problemas ya que crea un lugar centralizado donde trabajar con la información que maneja.</p>

<p>Manejamos diferentes tipos de servidores como blades en conjunto de enclosures, servidores de torre y servidores de Pizza. </p>
<p class="beneficios">Beneficios:</p>     

<ul>
    <li>Información almacenada en un lugar centralizado. </li>
    <li>Seguridad de base de datos.</li>
    <li>Administración remota por ILO3.</li>
    <li>Acceso multiusuario y virtualización.</li>
</ul>

</div>

<div class="columna_r">
    
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png" width="240">
    </div>    
</div>

{% endblock %}
