{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    SITESCOPE
{% endblock %}

{% block soluciones_text %}

<div class="columna_l" style="width:330px;">
<p class="bold">¿Es el último en enterarse de un fallo en los elementos de su infraestructura?</p>
<p class="bold">¿Qué le parecería contar con información acerca del uso de sus activos informáticos?</p>
<p class="bold">¿Le gustaría automatizar ciertos procesos?</p>

<p>Le sugerimos usar el software HP SiteScope; que supervisa las infraestructuras y aplicaciones de IT de manera remota sin la necesidad de instalar software en los servidores o monitorear. Correcta disponibilidad de servidores y aplicaciones, y desempeño  de datos de manera eficiente, en servidores físicos o virtuales. </p>

<p class="beneficios">Beneficios:</p>

<ul>
    <li>Previene que los ingresos de una compañía se vean afectados por las 
        fallas de IT ya que proporciona respuestas proactivas antes de que suceda un incidente.</li>
        
    <li>Ayuda a maximizar la disponibilidad de su infraestructura de IT completa 
        y aplicaciones (monitoreo de más de 100 aplicaciones distintas). </li>
</ul>
</div>

<div class="columna_r" style="width:260px;">
    <ul>
        <li>Mantiene bajo control arquitecturas complejas y cambiantes con el menor esfuerzo.</li>
        <li>Ofrece plantillas de soluciones que incluyen las mejores prácticas  y valores de umbral.</li>
        <li>Al no utilizar agentes se hace una implementación rápida ideal para ambientes de nube privados o híbridos.</li>
    </ul>
    <div style="text-align:right;" class="demo">Contamos con Demo.</div>
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png" width="250">
    </div>    
</div>

{% endblock %}
