{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    STORAGE
{% endblock %}

{% block soluciones_text %}

<div class="columna_l">
<p class="bold">¿Alguna vez se ha quedado sin espacio en disco?</p>
<p class="bold">¿Necesita dispositivos eficientes en respuesta de acceso a la información?</p>
<p class="bold">¿Tiene crecimiento constante en sus datos?</p>

<div style="height:10px;"></div>

<p>Le ofrecemos tecnologías de almacenamiento en red como son SAN, NAS y DAS. Combinando redes con las tecnologías de almacenamiento masivo, puede resultar una flexibilidad excelente para los administradores de sistemas. </p>

<div style="height:10px;"></div>

<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Conecta de manera rápida, segura y fiable los distintos elementos que conforman la red.</li>
    <li>Consolidación del almacenamiento.</li>
    <li>Administración simplificada. </li>
</ul>

</div>

<div class="columna_r">
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
