{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    SYMANTEC SYSTEM <BR>RECOVERY 2011
{% endblock %}

{% block soluciones_text %}

<div class="columna_l">
<p class="bold">¿Cuánto dinero pierde su empresa por día fuera de operación?</p>
<p class="bold">¿Cuenta con algún plan de recuperación de información en caso de un desastre?</p>
<p class="bold">¿Le gustaría obtener ayuda para la recuperación de un desastre?</p>

<p>Compuproveedores le ofrece una de las soluciones de recuperación que le protege contra desastres y contra el tiempo fuera de servicio en la empresa, mediante copias de seguridad y recuperación rápida y de confianza.</p>

<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Recupera sistemas virtuales y físicos en minutos.</li>
    <li>Evita pérdidas de ganancias por tiempo fuera de operación y productividad de los empleados al recuperarse de un desastre de manera eficiente y eficaz.</li>
    <li>Cumple objetivos de tiempo de recuperación.</li>
    <li>Recupera todo lo que necesite en momento y lugar.</li>
    <li>Elimina la necesidad de duplicar Hardware de remplazo para fines de recuperación.</li>
    <li>Realiza actualizaciones y migraciones de Hardware.</li>
</ul>

</div>

<div class="columna_r">
    <div class="left">
        <div style="text-align:right;" class="demo">Contamos con Demo.</div>
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
