{% extends "soluciones_tecnologicas/base.html" %}

{% block l_width %}360{% endblock %}

{% block soluciones_title %}
    VIRTUALIZACIÓN
{% endblock %}

{% block soluciones_text %}

<div class="columna_l">
<p class="bold">¿Desea ahorrar en la compra de Pc’s?</p>
<p class="bold">¿Le gustaría tener una aplicación en cualquier dispositivo y en cualquier lugar?</p>
<p class="bold">¿Qué le parece centralizar la administración de sus operaciones?</p>

<p>Le recomendamos la creación de una versión virtual, de algún recurso tecnológico, ya sea una plataforma de hardware, un sistema operativo, aplicaciones, un dispositivo de almacenamiento u otros recursos de red. Su principal ventaja es la consolidación de servidores y la virtualización de los puestos de trabajo.</p>
<div style="height:10px"></div>
<p class="beneficios">Beneficios:</p>
        
<ul>
    <li>Ahorra en Hardware y disminuye la administración de los escritorios.</li>
    <li>Nos permite tener varias computadoras virtuales ejecutándose sobre la misma computadora física.</li>
</ul>

</div>

<div class="columna_r" style="width:240px;">
    <ul>
        <li>Aplicaciones en cualquier dispositivo y en cualquier lugar.</li>
        <li>Aumentar la productividad de los empleados y la flexibilidad de los datos. </li>
    </ul>
    <div style="height:10px"></div>
    <div style="text-align:right;" class="demo">Contamos con Demo.</div>
    <div style="height:10px"></div>
    <div class="left">
        <img src="/site_media/compu/images/{{ id }}.png">
    </div>    
</div>

{% endblock %}
