{% extends "main.html" %}
{% load static %}
{% block content %}
{% load custom_tags %}

<form action="." method="post">{% csrf_token %}
<table>
    {{ form.as_table}}
</table>
<input type="submit" value="Guardar y enviar" />
</form>
{% if form.instance.id %}
<a href="{% url 'eliminar_actividad' form.instance.id %}" ><img src="{% static 'site_media/img/icons/delete_32.png' %}" />Eliminar</a>
{% endif %}

<script>
$("#id_descripcion").css("width", "200px");
$("#id_descripcion").css("height", "50px");
</script>

{% endblock %}

