{% extends "main.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
<style >
    #tabla_filtros{
        border-collapse: collapse;
        border-spacing: 0;
    }
</style>
<h3>Bitácora de Pólizas de Servicio Tecnico</h3>

<div id="div_add">

<form action="." method="get">{% csrf_token %}

    
    <table id="tabla_filtros">
        <tr>
            <td></td>
            <td>Estado:</td>
            <td>Sucursal:</td>
            <td>Con costo:</td>
            <td></td>
        </tr>
        <tr>
            <td><img src="{% static 'site_media/fc/images/search.png' %}">{{ form.q }}</td>
            <td>{{ form.estado }} </td>
            <td>{{ form.sucursal }} </td>
            <td>{{ form.con_costo }}</td>
            <td><input type='submit' value="Buscar" /></td>
        </tr>
    </table>

    
</form>
    
</div>

<table class="list-table">
    <tr>
        <th>Folio</th>
        <th>Cliente</th>
        <th>Sucursal</th>
        <th>Tipo</th>
        <th>Modificado por</th>
        <th>Fecha<br>Modificación</th>
        <th>Fecha vencimiento</th>
        <th>Estado</th>
        <th>Fecha <br>cierre</th>
        <th>Costo</th>
        <th>Documento de cobro</th>

    </tr>
    {% for b in pagina.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.folio }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.cliente }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.get_sucursal_display|default:"" }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.get_tipo_sertec_display|default:"" }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.usuario_modificado.first_name }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.fecha_modificado|date:"d/m/y H:i:s" }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.fecha_vencimiento|date:"d/m/y" }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.get_estado_display }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.fecha_cierre|date:"d/m/y H:i:s" }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.garantia_costo|sino }}</a></td>
            <td><a href="{% url 'bitacora_sertec' b.id %}">{{ b.factura_costo_garantia|default:"" }}</a></td>
        </tr>
    {% endfor %}
</table>
{% include 'paginado.html' %}

{% endblock %}
