{% extends "main.html" %}
{% block content %}



<form action="." method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
<div class="contacto_boton">
    <input type="submit" value="Guardar" />
    {% if id > '0' %}
    <a href="{% url 'eliminar_equipo_renta' id %}"><img src="/site_media/img/icons/delete_32.png"/>Eliminar</a>
    {% endif %}
</div>

</form>
<script>
{% if not form.instance.id and not form.errors %}
$("#id_sucursal").val({{ user.perfil.sucursal }});
{%endif%}
</script>
{% endblock %}

