{% extends "main.html" %}
{% block content %}
<form action="." method="get">
<div id="div_add">
    <a href="{% url 'usuario' 0 %}">
    <img src="/site_media/fc/images/add.gif"> Agregar Usuario</a>
   
    <div class="left">Nombre:<br> {{ form.q }}</div>
    <div class="left">Sucursal:<br> {{ form.sucursal }}</div>
    <div class="left">Permiso:<br> {{ form.permiso }}</div>
    <input type="submit" value="Buscar"> 
</div>
<div class="clear"></div>
</form>
<table class="list-table p-3">
    <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Sucursal</th>
        <th>Permiso</th>
    </tr>
    {% for u in usuarios %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url 'usuario' u.id %}">{{ u.username }}</a></td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.perfil.get_sucursal_display|default:"" }}</td>
            <td>{{ u.last_name }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
