{% extends "base.html" %}
{% block contenido %}
    <form action="." method="post">{% csrf_token %}
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <table>
        <tr>
            <td>Contraseña:</td>
            <td><input name="password" type="password" autocomplete="false"></td>
        </tr>
        <tr>
            <td>Repetir Contraseña:</td>
            <td><input name="repeat_password" type="password" autocomplete="false"></td>
        </tr>
    </table>
    <input type="submit" value="Guardar">
    </form>
{% endblock %}
