{% extends 'base.html' %}
{% block contenido %}
<form action="." id="edit_form" method="post" enctype="multipart/form-data">
<table>
    <tr>
        <td><label for="username">Usuario:</label></td>
        <td><input type="text" size="10" name="username" autocomplete="off" value="{{instance.username}}"></td>
    </tr>
    <tr>
        <td><label for="password">Contrase&ntilde;a:</label></td>
        <td><input type="password" size="10" name="password" value="{{instance.username}}"></td>
    </tr>
    <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="text" size="20" name="email" value="{{instance.email}}"></td>
    </tr>
</table>
<input type="submit" value="Guardar">

<h4>Roles:</h4>

<div>
    <input type="checkbox" name="is_superuser" id="id_is_superuser"/>
    <label for="id_is_superuser">Es administrador</lablel>
</div>

<hr />

{% for g in groups %}
    <div>
        <input type="checkbox" name="group_{{ g.id }}" id="id_group_{{ g.id }}" /> 
        <label for="id_group_{{ g.id }}">{{ g.name }}</lablel>
    </div>
{% endfor %}
<!--
<input type="checkbox" name="inventario" id="id_inventario"/>Inventario<br/>
<input type="checkbox" name="cxp" id="id_cxp"/>Cuentas por pagar<br/>
<input type="checkbox" name="cxc" id="id_cxc"/>Cuentas por cobrar<br/>
<input type="checkbox" name="contabilidad" id="id_contabilidad"/>Contabilidad<br/>
<input type="checkbox" name="bancos" id="id_bancos"/>Bancos<br/>
<input type="checkbox" name="usuarios" id="id_usuarios"/>Usuarios<br/>
<input type="checkbox" name="nomina" id="id_nomina"/>N&oacute;mina<br/>
<input type="checkbox" name="facturacion" id="id_facturacion"/>Facturaci&oacute;n<br/>
-->


<script> 
    $().ready(function(){
        {% if instance %}            
            {% if instance.is_superuser %}
                $('#id_is_superuser').attr('checked','checked');
            {% endif %}
            

            {% for g in instance.groups.all %}
                $("#id_group_{{ g.id }}").attr('checked','checked');
            {% endfor %}
            
        {% endif %}
    });
</script>
</form>
{% endblock %}
