.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 40px 0 50px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > ,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > img {
	border: none;
	display: block;
	position: absolute;
	max-width: 75%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 110px;
	height: 110px;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -55px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
	overflow: hidden;
	transition: all .3s;
	-webkit-transition: all .3s; /* Safari */
}
.cbp-fwslider nav span.cbp-fwnext {
	right: -50px;
	position: absolute;
	background-image: url('../img/slider_right.png');
	z-index: 12222;
	transition: all .3s;
	-webkit-transition: all .3s; /* Safari */
	opacity: .3;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: -50px;
	position: absolute;
	background-image: url('../img/slider_left.png');
	z-index: 12222;
	transition: all .3s;
	-webkit-transition: all .3s; /* Safari */
	opacity: .3;
}
.cbp-fwslider nav span.cbp-fwnext:hover{
	right: 0;
	opacity: .8;
}
.cbp-fwslider nav span.cbp-fwprev:hover{
	left: 0;
	opacity: .8;
}
.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #4b84a8;
	/*border:1px solid rgba(255,255,255,.6);*/
	box-shadow: 0 1px 1px rgba(255,255,255,.7), inset 0 1px 1px rgba(0,0,0,.4);
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: rgba(255,255,255,.4);
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #3399FF;
	width: 10px;
	height: 10px;
	box-shadow: 0 0 0 2px #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}