body {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: small;
	color: #0056ca;
	background-color:#f0f3f7;
}

html, body, #wrapper{
	
	min-height: 100%;
    width: 100%;
    height: 100%;
}

html>body, html>body #wrapper {
    height: auto;
}

#contenido{
    margin: 40px 0 0 460px;

    width:400px;
    min-height:600px;
    background-color:#fcfcfc;

    -moz-border-radius: 28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    -moz-box-shadow: 6px 4px 74px #636363;
    -webkit-box-shadow: 6px 4px 74px #636363;
    box-shadow: 6px 4px 74px #636363;

}

#block_contenido{
    padding: 10px 0 0 10px;
}

#logo_dms{
    margin-left:40px;
    width:400px;
    height:160px;
}

#footer {
	position: relative;
	bottom: 0px;
	text-align: center;
	width: 100%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: x-small;
	color: #808080;
	margin-bottom: 10px;
	margin-top:10px;
	clear:both;
}

#contenido thead{
    background:url(images/tabla/bg1.png) repeat-x;
    text-align:left;
    height:30px;
    color:#243a6f;
}

#tabla_cliente tr td{
    padding-top:10px;

}
