{% extends "base.html" %}
{% block content %}
   
Compuproveedores, S.A. de C.V.

Somos distribuidores de consumibles, accesorios y equipo de cómputo.

Historia

Nuestra empresa fue fundada por el Sr. Enrique González, el 2 de junio de 1989, primero en Culiacán, Sinaloa y después transfiriéndose al estado de Sonora en la ciudad de Hermosillo.

En los últimos años nos hemos esforzado en cubrir al 100% las necesidades de nuestros clientes ofreciendo los productos de mejor calidad y la asesoría de nuestros vendedores dedicados.

Servicio

Brindamos el mejor servicio a través de una excelente estrategia de compra, en la cual contamos con el apoyo de proveedores de alto nivel que nos permite mantenernos a la vanguardia en la venta de consumibles, haciendo llegar los productos en el momento y lugar preciso en que se requieren.

Nuestros proveedores a su vez tienen la infraestructura que nos garantiza, existencias inmediatas y al mejor precio que nos hacen cumplir con las demandas de los consumidores y además garantizar todos los productos y ofrecerles la mejor compra.

 	
Nuestros servicios se extienden actualmente a las principales ciudades de Sonora, Sinaloa y Baja California mediante envíos por flete.

 
La mayoría de nuestros clientes varían entre oficinas gubernamentales, escuelas, sector privado, distribuidores y licitaciones, con la:

Misión

Satisfacer las necesidades de los clientes, ofreciendo soluciones de impresión y de cómputo, para optimizar  sus procesos, reducir costos y mejorar utilidades.

Visión

Ser la empresa líder en la venta de soluciones de impresión y cómputo en el Noroeste del país, contribuyendo al crecimiento de nuestra gente, nuestros clientes y proveedores.
   
{% endblock %}
