{% extends "base.html" %}

{% block content %}
<style>
	.images_cer{
		margin: 5px 0 0 55px;
	}
	.images_cer img{ width: 550px; height: 85; margin-top: 10px;}
</style>
<div class="cuadro_fondo_gris">
<div class="espacio20"></div>
    <div class="cuadro_fondo_gris_titulo">CERTIFICACIONES</div>
    <div class="images_cer">
    	<img src="/site_media/compu/images/certificaciones1.png">
    	<img src="/site_media/compu/images/certificaciones2.png">
    	<img src="/site_media/compu/images/certificaciones3.png">
    	<img src="/site_media/compu/images/certificaciones4.png">
  	</div>
<div class="espacio10"></div>
</div>
{% endblock %}
