<p class="center">POLÍTICAS</p>

<p>1. Toda solicitud será descrita de forma clara para ofrecerle un mejor servicio.</p>

<p>2. La recepción y atención de las solicitudes de servicio se efectuará conforme se vayan recibiendo de acuerdo al número de su reporte.</p>

<p>3. El tiempo estimado para realizar el diagnóstico de su equipo será de 48 horas, posteriores a la recepción de su solicitud. El diagnostico tiene un costo de $200 pesos, el cual deberá cubrirlo al momento de ingresar su equipo. Sin factura y pago de diagnóstico este reporte no será procesado.
</p>

<p>4. El tiempo de reparación del equipo estará sujeto a la autorización del Cliente y de acuerdo a la disponibilidad de componentes en Compuproveedores, fabricantes y/o proveedores.</p>

<p>5. El Cliente recibirá una liga al correo electrónico que indicó al momento de ingresar su equipo, en donde podrá consultar el seguimiento a su servicio.</p>

<p>6. Una vez que reciba la notificación por correo electrónico, de que su equipo ha sido reparado podrá pasar a nuestras oficinas en un horario de lunes a viernes de 8:00 a.m. a 12:00 p.m. y de 2:00 p.m. a 4:00 p.m.</p>

<p>7. Una vez realizada la reparación de su equipo, podrá permanecer por 10 días hábiles en Compuproveedores/HP store, posteriormente del día 11 al 20 hábil se cobrara un 3% diario del monto total de la reparación por concepto de almacenaje. Después de este periodo Compuproveeores no se hace responsable por el resguardo de su equipo.</p>
