{% load custom_tags %}
{% load static %}

<div id="titulo_prosesadores_partes">
    <div>“POLITICA DE GARANTIAS”</div>
    <div>PROCESADORES Y PARTES</div>
</div>
{% espacio 25 %}
<div class="texto_pyp">
    <div>
    <b>Compuproveedores, S.A. DE C.V.</b> Basándose en los criterios de la
    aceptación o rechazo de los proveedores y/o fabricantes ha establecido la
    presente política.
    </div>
    {% espacio 10 %}
    <div>
    Se aceptara un producto a garantía siempre y cuando el producto adquirido
    contenga un defecto de fabricación que afecte su buen funcionamiento: la
    garantía en ningún caso cubre el mal uso, abuso o modificación del equipo
    por persona no autorizado por <b>Compuproveedores, S.A. DE C.V.</b> o los
    centros autorizados del fabricante.
    </div>
    {% espacio 10 %}
    <div>
    Para poder aceptar un producto a garantía es necesario 
    cubrir los siguientes requisitos
    </div>
    
    <ul>
        <li>Copia legible de factura</li>
        <li>Copia de número de serie</li>
        <li>Presentar producto completo, en su empaque original, accesorios,
            drivers manuales, cables papel, caja, etc. Y evitar que esto influya
            en el precio de la nota de crédito</li>
        <li>Que el producto que se presenta a garantía este dentro del tiempo
            que se otorga de
            A cuerdo a lo siguiente:
            {% espacio 10 %}
            <ol class="lista_letra"> 
                <li>Los productos como son Procesadores y Tarjetas Madre en caja,
                    marca INTEL, cuentan con 1 año de garantía en P&P y 2 años
                    de garantía directo con el con el Fabricante.</li>
                <li>Los productos como son Discos duros, procesadores CAJA
                    marca AMD, Memoria USB marca Supertalent, Tarjetas de
                    Video marca Biostar, Tarjetas Madre marcas Asrock, PC CHIPS,
                    Biostar, ECS, etc. Cuentan con 1 año de garantía y se realiza
                    directo con P&P.</li>
                <li>Los productos como son Memoria Ram marca Kingston,
                    cuentan con garantía de por vida y se realiza
                    directo con P&P.</li>
                <li>Los productos como son Memoria USB marca Kingston,
                    dependerá del modelo que puede ser de 1, 3 y 5 años de
                    garantía y se realiza directo con P&P.</li>
                    
            
            </ol>
            
        </li>
        <li>Si el distribuidor desea dejar el componente incompleto, esto es, con
            ausencia de los accesorios como son: empaque, drivers, manuales,
            etc.
            Se aceptara el producto a garantía bajo el conocimiento y el
            compromiso del Distribuidor de esperar respuesta del fabricante y/o
            recibir su producto sin ningún accesorio.</li>
            
        <li>Detallar lo mas especifico posible de forma escrita, la falla que
            presenta el producto que se desea ingresar a garantía ; agradeciendo
            de antemano nos ayude a darle un mejor servicio evitando incluir las
            descripciones como son:
            “no funciona “ “no sirve” ó “dañado “.</li>
            
        <li>En toda ocasión el cliente deberá revisar las condiciones de la
            mercancía que recibe de PYP al momento de realizar su compra en
            PYP, no se aceptan productos a devolución, y/o cambios.</li>
                                
        <li>En caso de no ser el producto que usted requiere deberá el cliente
            reportarlo inmediatamente a su ejecutivo el mismo día que realiza su
            compra.</li>
        
        <li>La mercancía que presente daño fisico entendiendo como tal a
            producto quemado, roto, golpeado, intervenido, con resistencias,
            chips o transistores rotos, doblados o sin ellos, circuitos o soldaduras
            quemadas o conexiones en el mismo estado, no se hará valida la
            garantía.</li>
        
        <li>Todo producto que se acepta a garantía esta sujeto a la revisión y
            autorización de Procesadores y Partes, S. A. de C. V. En caso de
            no proceder la garantía por estar el producto funcionando 
            correctamente o con daño físico se regresara el producto al cliente.</li>
        
        <li>En el caso de que un producto en garantía requiera cambio físico,
            este será reemplazado por el producto que haya reemplazado nuestro
            proveedor original.</li>
        
        <li>Se brindara un cambio fisico por un producto idéntico al recibido y en
            caso de no contar con este, por la razón que fuere, se cambiara por
            el producto inmediato superior pagando la diferencia no habiendo en
            ningún caso devolución del importe pagado y se podrá ofrecer una
            Nota de Crédito por el importe del valor del producto al dia del
            cambio.</li>

    
    
</div>
