{% extends "base.html" %}

{% block content %}
<div class="cuadro_fondo_gris">
<div class="espacio20"></div>

    <div class="cuadro_fondo_gris_titulo">
        SOLICITUD DE CRÉDITO
    </div>
        <div id="dialog-success">
            <div id="text_dialog_success">
                Su solicitud se ha registrado correctamente. 
                Nos pondremos en contacto con usted.
            </div>
            
        </div>      
        <a href="#"><img src="/site_media/compu/images/x_mensaje.png" alt="" id="cerrar_dialog_success"/></a>
</div>


{% endblock %}
