<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>TABLAS</title>
	<link rel="stylesheet" type="text/css" href="{{ root_url }}/site_media/css/basic.css" />

<style>
    {% include "bitacora_css.css"%}
    table tbody tr td { font-size:10px; }
</style>

</head>

<body>
    
    
   <div style="page-break-after: always">     
   {% include "tablas_pdf.html" %}
    {% for i in "....................." %}<br>{% endfor %}
    <div style="text-align:center; font-size:9px;"> Original: Compuproveedores, S.A. de C.V. </div>
   </div>
        
   <div>
   {% include "tablas_pdf.html" %}
   </div>
   {% for i in "....................." %}<br>{% endfor %}
   <div style="text-align:center; font-size:9px;"> {% if bitacora.tipo == 2 %} Copia: Usuario{% else %}Copia: Cliente {% endif %}</div>
   <div class="clear"></div>
   
</body>
</html>
