.bold {font-weight:bold !important}
a img{ border:0; }
.left {float:left !important}
.right {float:right !important}
.righttext {text-align:right; !important}
.clear { clear:both; }
.small { font-size:0.7em; }
.center { text-align:center; }
